<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue JS</title>
    <link rel="stylesheet" href="css/style.css" />
    <!-- <script src="vue.js"></script> -->
  </head>

  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img v-bind:src="image" />
        </div>

        <div class="product-info">
          <h1>{{ product }}</h1>
          <!-- <p>{{ description }}</p> -->

          <p v-if="inventory > 10">In Stock</p>
          <p v-else-if="inventory <= 10 && inventory > 0">Almost Sold Out!</p>
          <p v-else :class="{outOfStock : inventory <= 0}">Out of Stock</p>

          <ul>
            <li v-for="item in details">{{ item }}</li>
          </ul>

          <h3>Available Colors</h3>
          <!-- style="{backgroundColor:item.color ==> style = "background-color : blue" -->
          <div
            v-for="item in variants"
            v-bind:key="item.id"
            class="color-box"
            v-bind:style="{backgroundColor:item.color}"
            v-on:mouseover="updateColor(item.image,item.inventory)"
          ></div>
          <button
            v-on:click="addToCart"
            v-bind:disabled="inventory <= 0"
            v-bind:class="{disabledButton: inventory <= 0}"
          >
            Add To Cart
          </button>
          <div class="cart">
            <p>Cart ({{ cart }})</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
